.menuWrapper {
  border: none !important;
  box-shadow: -10px 4.6px 13px 0 rgba(0, 0, 0, 0.05) !important;
  padding: 10px 40px;
  font-family: Montserrat !important;
  font-weight: 600 !important;
  font-size: 13px !important;
  background-color: #fff !important;
}
.dropdownWrapper {
  display: flex !important;
  align-items: center !important;
  margin: 0 10px !important;
}
.itemWrapper {
  font-weight: 600 !important;
  cursor: pointer;
  margin: 0 10px !important;
}
/* .activeItemWrapper {
  color: #268f8c !important;
} */
.menuStyling {
  margin-right: 70px !important;
}
.signUpButton {
  cursor: pointer;
  font-weight: 600;
  padding: 11px 22px 10px 21px;
  background-color: #268f8c;
  border-radius: 18px;
  color: #fff;
}
.mobileBase {
  z-index: 3;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 12px 0px 12px;
  position: fixed;
  background-color: rgb(255, 255, 255);
  top: 0px;
}
.toggleIcon {
  padding-left: 10px;
  position: absolute;
  left: 0px;
  top: 32%;
}
.overlayBase {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.48);
  top: 75px;
  transition: transform 0.5s;
  left: 0;
}
.contentWrapper {
  width: 80%;
  background-color: #f3f3f3;
  height: 100%;
  position: absolute;
  overflow-x: hidden;
  overflow-y: auto;
}
@media (max-device-width: 1024px) {
  .menuWrapper {
    padding: 5px 10px;
  }
}
