.base {
  padding: 20px 30px;
}
.chartWrapper {
  display: flex;
  width: 100%;
  margin-top: 35px;
  justify-content: space-between;
}
.chartHeading {
  font-family: Poppins;
  font-size: 20px;
  color: #202323;
  font-weight: 700;
  margin-bottom: 20px;
}
.progressChartBox {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  box-shadow: 1.1px 2.8px 10px 0 rgba(119, 119, 119, 0.1);
}

.progressChart {
  width: 45%;
}

.attendenceChart {
  width: 45%;
  text-align: center;
}
.barChart {
  width: 100%;
  height: 250px;
}

.showProgress {
  background-color: #055c4d;
  color: #fff;
  border-radius: 50%;
  height: 120px;
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: 700;
  font-family: Open Sans;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.showProgress::after {
  content: "%";
}

.canvasWrap {
  position: relative;
  width: 240px;
  height: 240px;
  box-shadow: 1.3px 8.9px 27px 0 rgba(0, 0, 0, 0.17);
  border-radius: 50%;
  margin: auto;
}
.lineChartWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.lineChart {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  width: 86%;
}

.stepsNames {
  padding: 5px 0px;
  font-size: 12px;
  color: #0a2227;
  font-weight: 700;
  font-family: Poppins;
}
.scoreChartWrapper {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0.3px 4px 10px 0 rgba(0, 0, 0, 0.15);
  padding: 20px;
}
.pointsSteps {
  height: 32px;
  width: 32px;
  border-radius: 50%;
}
.namePointWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.applyLeaveBtn{
  margin: auto;
  width: 60%;
  margin-top: 20px;
}
@media (max-width: 1024px) {
  .base {
    padding: 10px;
  }
  .chartWrapper {
    display: initial;
  }
  .progressChart {
    width: 100%;
  }
  .attendenceChart {
    width: 100%;
  }
  .chartHeading {
    margin-top: 20px;
  }
  .scoreChartWrapper {
    padding: 10px;
  }
  .lineChart {
    padding: 10px;
  }
}
