.base {
  padding: 20px 30px;
}
.chartWrapper {
  display: flex;
  width: 100%;
  margin-top: 90px;
  justify-content: space-between;
}
.chartHeading {
  font-family: Poppins;
  font-size: 20px;
  color: #202323;
  font-weight: 600;
  margin-bottom: 20px;
}
.progressChartBox {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  display: flex;
}
.attendenceChartBox {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
}
.progressChart {
  width: 60%;
}
.attendenceChart {
  width: 33%;
}
.barChart {
  width: 250px;
  height: 250px;
}
.pieChart {
  width: 181px;
  height: 181px;
  margin: auto;
}
.labelWrap {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}
.labelIndication {
  background-color: #055c4d;
  height: 20px;
  width: 20px;
  border-radius: 50%;
}
.avgIndication {
  background-color: #e78109;
  height: 20px;
  width: 20px;
  border-radius: 50%;
}
.myScoreIndication {
  background-color: #0289d6;
  height: 20px;
  width: 20px;
  border-radius: 50%;
}
.labelText {
  font-family: Poppins;
  font-size: 14px;
  color: #0a2227;
  font-weight: 700;
  margin-left: 12px;
}
.barLabels {
  margin-left: 30px;
  margin-top: 40px;
}
.pielabelWrap {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
}
.pielabelText {
  margin-left: 10px;
  font-family: Poppins;
  font-size: 14px;
  color: #0a2227;
}
.piePresentIndication {
  background-color: #f1b71b;
  height: 16px;
  width: 16px;
  border-radius: 50%;
}
.pieAbsentIndication {
  background-color: #ed4f32;
  height: 16px;
  width: 16px;
  border-radius: 50%;
}
.totalDays {
  font-family: Poppins;
  font-size: 12px;
  color: #0a2227;
  font-weight: 700;
  text-align: end;
}
.lineChart {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  width: 86%;
}
.indicationPoints {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 10%;
}
.namePointWrapper {
  text-align: center;
  padding: 0 6px;
}
.stepsNames {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  padding: 5px 0px;
  font-size: 12px;
  color: #0a2227;
  font-weight: 700;
  font-family: Poppins;
}
.lineChartWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-device-width: 1024px) {
  .base {
    padding: 10px;
  }
  .chartWrapper {
    display: initial;
  }
  .progressChart {
    width: 100%;
  }
  .attendenceChart {
    width: 100%;
  }
  .barLabels {
    margin-left: 5px;
  }
  .chartHeading {
    margin-top: 15px;
  }
  .lineChart {
    width: 100%;
  }
}
