.base {
}
.blackFooterbase {
  background-color: #222222;
  color: #fff;
  display: flex;
  padding: 25px;
  font-size: 12px;
  padding: 25px 0 25px 100px;
  font-family: Open Sans;
}
.copyright {
  margin-right: 50px;
}
.heading {
  font-size: 14px;
  color: #268f8c;
  font-weight: bold;
  text-transform: uppercase;
  font-family: Open Sans;
}
.subheading {
  font-size: 14px;
  color: #212121;
  margin-top: 30px;
  font-family: Open Sans;
}
.whiteFooter {
  display: flex;
  padding: 70px 180px;
  width: 100%;
  justify-content: space-between;
}
.followIcons {
  display: flex;
  margin-top: 30px;
}
.footerSection {
  width: 20%;
}
.socialSection {
  margin-top: 30px;
}
.socialIcons {
  margin: 5px;
  cursor: pointer;
}
.footerItem {
  cursor: pointer;
}
.footerItem:hover {
  text-decoration: underline;
}
