.heading {
  height: 25px;
  width: 500px;
  background-color: rgba(195, 192, 192, 0.25);
  margin: auto;
  margin-bottom: 70px;
}
.base {
  padding-top: 100px;
}
.descriptionText {
  height: 12px;
  width: 1000px;
  background-color: rgba(195, 192, 192, 0.25);
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;
}
.descriptionTextSmall {
  height: 12px;
  width: 800px;
  background-color: rgba(195, 192, 192, 0.25);
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;
}
.descriptionTextMoreSmall {
  height: 12px;
  width: 500px;
  background-color: rgba(195, 192, 192, 0.25);
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;
}
.boxWrapper {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
}
.box {
  height: 700px;
  width: 400px;
  border-radius: 20px;
  background-color: rgba(195, 192, 192, 0.25);
}
@media (max-device-width: 1024px) {
  .heading {
    width: 50%;
  }
  .descriptionText {
    width: 90%;
  }
  .descriptionTextSmall {
    width: 80%;
  }
  .descriptionTextMoreSmall {
    width: 50%;
  }
  .box {
    width: 45%;
  }
}
