.sections {
  background-color: #268f8c;
}
.wrapper {
  display: flex;
  width: 84%;
  margin: auto;
  padding-top: 170px;
  padding-bottom: 180px;
  justify-content: space-between;
}
.formWrapper {
  width: 50%;
}
.mapWrapper {
  width: 40%;
}
.heading {
  color: #fff;
  font-family: Open Sans;
  font-weight: bold;
  font-size: 40px;
  letter-spacing: 4px;
  margin-bottom: 40px;
}
.inputStyling {
  background-color: transparent;
  padding: 15px;
  width: 100%;
  color: rgb(221, 223, 225);
  font-family: Open Sans;
}
.inputStyling::placeholder {
  color: #dddfe1;
}

.inputStyling:focus {
  outline: none;
}
.inputsWrapper {
  margin-bottom: 20px;
}
.selectStyling {
  background-color: transparent;
  padding: 13px;
  width: 100%;
  color: rgb(221, 223, 225);
  font-family: Open Sans;
}
.selectStyling::placeholder {
  color: #dddfe1;
}

.selectStyling:focus {
  outline: none;
}
.selectStyling > option {
  color: #000;
}
.submitBtn {
  width: 30%;
}
.infoBox {
  border-radius: 10px;
  background: #f78f1f;
  padding: 20px 25px;
  margin-top: 45px;
}
.infoSec {
  display: flex;
  align-items: center;
}
.textInfo {
  color: #fff;
  font-family: Open Sans;
  font-weight: bold;
  font-size: 18px;
  margin-left: 10px;
  margin-bottom: 10px;
}
.phoneIcon {
  transform: rotate(100deg);
  margin-bottom: 8px;
}
@media (max-device-width: 1024px) {
  .wrapper {
    display: block;
    padding-top: 50px;
  }
  .formWrapper {
    width: 100%;
    margin-bottom: 20px;
  }
  .heading {
    font-size: 30px;
    line-height: 36px;
  }
  .mapWrapper {
    width: 100%;
  }
}
