.flagWrapper {
  background-color: #25908d;
  padding: 70px 100px;
}
.allFlags {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.languageHeadingWrapper {
  color: #fff;
  font-weight: bold;
  text-align: center;
  margin: 30px 0;
  font-size: 30px;
  text-transform: uppercase;
  font-family: Montserrat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.languageHeading {
  margin: 0 20px;
}
.flag {
  padding: 50px;
}
.stylingLines {
  background-color: #39cdc9;
}
.whyLearnHeadingWrapper {
  font-weight: bold;
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
  font-family: Montserrat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.whyLearnHeading {
  margin: 0 20px;
}
.borderLineStyling {
  background-color: #39cdc9;
  width: 65px;
  height: 5px;
}
.trustfactorWrapper {
  display: flex;
  margin-top: 70px;
}
.whyLearnLang {
  padding: 70px 190px;
}
.trustfactor {
  padding-right: 25px;
}
.trustfactor:last-child {
  padding-right: 0;
}
.whyTremendo {
  background-color: #f78f1e;
}
.whyTremendoHeadingWrapper {
  color: #fff;
  font-weight: bold;
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
  font-family: Montserrat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.whyTremendoHeading {
  margin: 0 20px;
}
.imageWhyWrapper {
  display: flex;
  margin-top: 70px;
  justify-content: space-between;
  width: 100%;
}
.whyTremendo {
  padding: 70px 190px;
}
.whyTremendoSection {
  margin-bottom: 30px;
}
.whyTremendoSection:last-child {
  margin-bottom: 0;
}
.sections {
  width: 30%;
}
.imgSections {
  width: 450px;
  height: 200px;
  display: flex;
  justify-content: center;
}
.popularCoursesHeadingWrapper {
  color: #fff;
  font-weight: bold;
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
  font-family: Montserrat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.popularCoursesHeading {
  margin: 0 20px;
}
.popularCourses {
  background-color: #25908d;
  padding: 70px 190px;
}
.bannerWaveWrapper {
  position: relative;
}
.waveShape {
  position: absolute;
  width: 100%;
  bottom: -6px;
}
.courseBox {
  display: flex;
  margin-top: 70px;
  justify-content: space-around;
  flex-wrap: wrap;
}
.subscribe {
  position: relative;
}
.textBtnWrapper {
  position: absolute;
  display: flex;
  align-items: center;
  top: 38%;
  justify-content: space-evenly;
  width: 100%;
  font-family: Open Sans;
  color: #000;
}
.subscribeInput {
  height: 49px;
  border-radius: 43px;
  border: none;
  background: #fff;
  padding-left: 24px;
  padding-right: 50px;
  font-size: 12px;
  font-family: Open Sans;
}
.subscribeInput:focus {
  outline: none;
}
.subscribeBtn {
  background-color: #212121;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  height: 49px;
  border: none;
  border-radius: 25px;
  padding: 0 40px;
  cursor: pointer;
  font-family: Open Sans;
}
.subscribeInputBtnWrapper {
  display: flex;
  margin-left: 20px;
}
.subscribeInputWrapper {
  margin-right: 20px;
}
.learnAnyWhereHeadingWrapper {
  color: #000;
  font-weight: bold;
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
  font-family: Montserrat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.learnAnyWhereHeading {
  margin: 0 20px;
}
.learnAnyWhere {
  text-align: center;
  padding: 70px 190px;
}
.learnAnyWhereSubheading {
  font-size: 16px;
  color: #212121;
  margin-top: 25px;
  font-family: Open Sans;
}
.devicesImages {
  margin-top: 70px;
}
.promotions {
  background-color: #f78f1e;
}
.boxesWrap {
  display: flex;
  padding: 70px 190px;
  width: 100%;
}
.promoBox {
  margin-right: 30px;
  width: 30%;
}
.promoBox:last-child {
  margin-right: 0;
}
.chat {
  position: fixed;
  bottom: 40px;
  right: 40px;
  cursor: pointer;
}
@media (max-device-width: 1024px) {
  .languageHeadingWrapper {
    font-size: 20px;
  }
  .flagWrapper {
    padding: 15px;
  }
  .flag {
    padding: 25px;
  }
  .whyLearnLang {
    padding: 15px;
  }
  .whyLearnHeadingWrapper {
    font-size: 20px;
  }
  .whyTremendo {
    padding: 15px;
  }
  .whyTremendoHeadingWrapper {
    font-size: 20px;
  }
  .popularCourses {
    padding: 15px;
  }
  .popularCoursesHeadingWrapper {
    font-size: 20px;
  }
  .textBtnWrapper {
    display: inline-block;
    top: 15px;
    padding: 0 15px;
  }
  .learnAnyWhere {
    padding: 15px;
  }
  .learnAnyWhereHeadingWrapper {
    font-size: 20px;
  }
  .boxesWrap {
    padding: 15px;
    display: inline-block;
  }
  .promoBox {
    width: 80%;
    margin: auto;
    margin-top: 10px;
  }
  .promoBox:last-child {
    margin: auto;
    margin-top: 10px;
  }
  .trustfactorWrapper {
    margin-top: 30px;
  }
  .whyTremendoSection {
    margin-bottom: 0;
    margin-top: 30px;
  }
  .courseBox {
    margin-top: 30px;
  }
  .subscribeInput {
    height: 40px;
    font-size: 10px;
  }
  .subscribeBtn {
    height: 40px;
    font-size: 10px;
  }
  .subscribeInputBtnWrapper {
    margin-left: 0;
    margin-top: 10px;
  }
}
